body
{font-family:Arial,sans-serif;
margin:0;
padding:0;
line-height:1.6;
background-color:#968585;
color:#452323;
}
header
{background:#4a30719e;
color:white;
text-align:center;
padding:2rem 0;    
}
nav{
    background:#8859c6;
    padding:0.5rem;
    text-align:center;
}

